div.padding {
  padding: 15px;
}

input[type=text]:focus {
  border-bottom: 1px solid #42a5f5 !important;
  box-shadow: 0 1px 0 0 #42a5f5 !important;
}

p.date {
  margin-top: -15px;
}

select {
  outline: none !important;
}

.icon-hoverable:hover {
  cursor: pointer;
}
